.card-container {
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .content {
    font-size: 16px;
    color: var(--text);
    text-align: center;
    margin-bottom: 20px;
    a {
      text-decoration: none;
      color: var(--text)
    }
  }
}

.modal {
  width: 62vw;
  background: var(--background);
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  box-shadow: 2px 4px 6px var(--accent), 
              0px 2px 4px var(--secondary),
              -2px -2px 4px var(--highlight);
}
