<div class="title-container">
    <div class="title-heading">
        <h1 class="title-text">Checkit!</h1>
    </div>
    <div class="spacer"></div>
    <div class="routing">
        <a class="routing-link" routerLink="/templates" routerLinkActive="active">Checklist Templates</a>
        <a class="routing-link" routerLink="/runs" routerLinkActive="active">Checklist Runs</a>
        <a class="routing-link" routerLink="/profile" routerLinkActive="active">Profile</a>
        <a class="routing-link" routerLink="/auth" routerLinkActive="active">Login/Register</a>
    </div>
</div>
