.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--background);
  color: var(--text);
  border-radius: 10px;
  border: 1px solid var(--highlight); /* Added border */
  box-shadow: 0px 2px 4px var(--accent); /* Added box shadow */
}

.routing {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 2rem;
}
.routing-link.active {
    color: var(--text);
    background-color: var(--accent);
    border-radius: 10px;
    border: 2px solid var(--accent);
    box-shadow: 0px 2px 4px var(--accent),
                0px 1px 3px var(--primary),
                inset 0px 1px 2px var(--secondary);
    padding: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
a {
    text-decoration: none;
    color: var(--text);
}
