<div class="card-container" id="create-run-container">
    <div class="title">
        <h1>Create a New Checklist Run</h1>
        <p>Start a new checklist run by selecting a template and filling in the required details.</p>
    </div>
    <div class="content-grid">
        @for (temp of templates(); track $index) {
            <div class="content-card" (click)="selectTemplate(temp)">
                <h2>{{ temp.title }}</h2>
                <p>{{ temp.description }}</p>
                @for (t of temp.tasks; track $index) {
                    <div class="task-item">
                        <span class="task-name">{{$index + 1}} : {{ t }}</span>
                    </div>
                }
            </div>
        }
    </div>

    <button (click)="onClose()" class="cancel">
        Cancel
    </button>
</div>